<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DorMe</title>

  <script src="https://kit.fontawesome.com/a99efffa96.js" crossorigin="anonymous"></script>
  
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
  <link href="css/Mypage.css" rel="stylesheet">
  <link rel="icon" href="images/favicon_img.png">

</head>
<body>
<nav th:replace="navbar :: navbarFragment"></nav>

  <div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
          <i class="fa-solid fa-building"></i>
        </div>
        <div class="big_title">마이페이지</div>
    </div>
  </div>


  <div class="white_sec">
    <div class="my_box_wrap">
        <div class="my_box">
          <!-- 내 정보 박스 -->
          <div class="my_box_title">
              <div><i class="fas fa-user"></i>내 정보</div>
              <button id='b1' class="my_box_mod_btn">업데이트</button>
          </div>
          <hr>
          <table>
              <tr>
                  <td class="my_box_table_1st_td">아이디</td>
                  <td th:text="${member.getUsername()}"></td>
              </tr>
              <tr>
                  <td class="my_box_table_1st_td">별명</td>
                  <td th:text="${member.getNickname()}"></td>
              </tr>
              <tr>
                  <td class="my_box_table_1st_td">지역</td>
                  <td th:text="${member.getLocal()}"></td>
              </tr>
              <tr>
                  <td class="my_box_table_1st_td">대학교</td>
                  <td th:text="${member.getSchool()}">
                      
                          세종대학교
                      
                  </td>
              </tr>
          </table>
        </div>


        <!-- 비번 / 영어 수정 / 회원 탈퇴 -->
        <div class="my_box">
          <div class="my_box_title">
              <div><i class="fas fa-user-edit"></i>내가 쓴 게시물</div>
              <button id='b2' class="my_box_mod_btn">보러가기</button>
          </div>
          <hr style="margin-bottom:2.5rem; margin-top:2.5rem;">
          <div class="my_box_title">
              <div><i class="fas fa-key"></i>비밀번호 변경</div>
              <button id='b3' class="my_box_mod_btn">변경하기</button>
          </div>
          <hr style="margin-bottom:2.5rem; margin-top:2.5rem;">
          <div class="my_box_title">
              <div><i class="fas fa-exclamation-triangle"></i>회원 탈퇴</div>
              <button th:href="@{'mypage/unRegister'}" id='b6' class="my_box_mod_btn">탈퇴하기</button>
          </div>
        </div>


        <!-- 기술구현부분 -->
        <div class="my_box_grade">
          <div style="padding:2.5rem 2.5rem 0 2.5rem">
              <div class="my_box_title">
                  <div></div>
                  <div>여러 조건으로 검색해보세요!</div>
                  <div></div>
              </div>
              <hr style="margin-top:2.5rem;">


              <section class="section">
                <div class="about">
                  <div class="about__card">
                    <img class="about__icon" src="../img/about_1_dollar.svg" alt="">
                    <h2 class="about__title _1">
                      가격
                    </h2>
                    <p class="about__text">
                      가격이 착한 곳을 <br>
                      찾으시나요?
                    </p>
                  </div>
                  <div class="about__card">
                    <img class="about__icon" src="../img/about_2_map.svg" alt="">
                    <h2 class="about__title _2">
                      거리
                    </h2>
                    <p class="about__text">
                      학교와 가까운 곳을 <br>
                      찾으시나요?
                    </p>
                  </div>
                  <div class="about__card">
                    <img class="about__icon" src="../img/about_3_facility.svg" alt="">
                    <h2 class="about__title _3">
                      시설
                    </h2>
                    <p class="about__text">
                      다양한 시설이 있는 곳을 <br>
                      찾으시나요?
                    </p>
                  </div>
                </div>
              </section>

              
          </div>
        </div>
    </div>
  </div>












<!-- 1. 내정보 업데이트 모달 -->
<div id='m1' class="modal">
  <div class="update_modal_content">
      <div id='c1' class="close">&times;</div>
      <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">
          내 정보 업데이트
      </div>
      <div style="margin-top:0.5rem; font-size:0.9rem; color:rgb(199, 199, 199)">
          대양휴머니티칼리지에 로그인하여 이름,학과,고전독서현황을 업데이트합니다. (세종대학교 포털 ID/PW와 동일)
      </div>
      <hr style="width:80%; margin-top:1.3rem;">
      <!-- 폼 -->
      <form action="/f_mod_info/" method="post" name='form1' onsubmit="return check_up1()">
          <input type="hidden" name="csrfmiddlewaretoken" value="gSYKcfoJRVb244YMREduqVhPZ2MsEhaKN55LE2l7qCOwb1pAINaEVUwrXy0ofVzY">
          <div class="regi_box">
              <label style="text-align: center;">아이디</label>
              <input type="text" name="student_id" placeholder='18011873'
                  style="background-color:rgb(248,249,250);" disabled>
              <label style="text-align: center;">비밀번호</label>
              <input type="password" id="pw" name="pw" placeholder="PASSWORD">
          </div>
          <input type='submit' class='login_btn' value='로그인' style="margin:2.5rem 0 2rem 0;">
      </form>
  </div>
</div>








  <footer class="footer">
    <ul class="footer_list">
        <li>
            - Contact -
        </li>
        <li>
            Email : kimde9612@gmail.com
        </li>
        <li>
            GitHub : <a href='https://github.com/euics/dormitory' style='color:lightgrey'
                target='_blank'>https://github.com/euics/dormitory</a>
        </li>
    </ul>
    <h2 class="copyright">Copyright
        <i class="far fa-copyright"></i>
        2022 DorMe. All Rights Reserved. <br>
        김부교, 박종훈, 변은성, 이성빈
    </h2>
  </footer>
</body>




<script src="js/modal.js"></script>


<script>

  // 업데이트 클릭시 로딩 모달 띄우기
  function pop_modal() {
      document.getElementById('load_madal').style.display = "block";
  }

  
  // 모달 켜는 버튼 id
  var b1 = document.getElementById("b1");     // 1. 내 정보 업데이트
      // 6. 회원탈퇴

  // 모달 id
  var m1 = document.getElementById('m1');
  
  // 모달 끄는 버튼(X) id
  var c1 = document.getElementById("c1");
  

  // 모달 키는 함수 호출
  Btnclick(b1, m1);

  // 모달 끄는 함수 호출
  Spanclick(c1, m1);

  // 모달 밖 화면 누를때 꺼지게하기
  window.onclick = function (event) {
      if (event.target == m1) {
          m1.style.display = "none";
      }
      
  }


</script>


</html>