<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DorMe</title>

    <script src="https://kit.fontawesome.com/a99efffa96.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <link href="/css/Dormi_1.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon_img.png">
</head>
<body>
<nav th:replace="navbar :: navbarFragment"></nav>

<!-- 이미지 슬라이더 -->
<div id="slideShow">
    <ul class="slides">
        <li th:each="stat:${doBongData}">
            <img th:if="${stat.detailImagePath0 != null}" th:src="@{${stat.detailImagePath0}}">
            <img th:if="${stat.detailImagePath1 != null}" th:src="@{${stat.detailImagePath1}}">
        </li>
        <!--
        <li th:each="stat:${doBongData}">
            <img th:if="${stat.detailImagePath1 != null}" th:src="@{${stat.detailImagePath1}}">
        </li>
        -->
    </ul>
    <p class="controller">

        <!-- &lang: 왼쪽 방향 화살표
        &rang: 오른쪽 방향 화살표 -->
        <span class="prev">&lang;</span>
        <span class="next">&rang;</span>
    </p>
</div>
<script src="/js/Dormi_1.js"></script>



<div class="dormi_name">강원학사_도봉</div>

<hr style="margin:2.5rem auto 2.5rem; width:1080px; height:2px; border:0px; background-color: rgb(145, 140, 140);">

<div class="white_sec">
    <div class="dormi_box_wrap">
        <div class="dormi_box_grade">
            <div style="padding:2.5rem 1.5rem 0 1.5rem">

                <!-- 건물정보 -->
                <div class="dormi_box_title">
                    <div style="margin-left:30px"><i class="fa-solid fa-building"></i>건물정보</div>
                </div>

                <hr>

                <table class="grade_table" style="margin-top:2rem;">
                    <tr>
                        <th class="grade_table_th" style="width:18%">분류</th>
                        <td class="grade_table_td">재경기숙사</td>
                    </tr>
                    <tr>
                        <th class="grade_table_th" style="width:18%">가격</th>
                        <td class="grade_table_td">입사비: 매년 이사회에서 결정 (현행 100,000원)<br>학사비: 매년이사회에서 결정 (현행 : 학기별 680,000원 납부, 1학기 3월~6월/2학기 9월~12월) </td>
                    </tr>
                    <tr>
                        <th class="grade_table_th" style="width:18%">위치</th>
                        <td class="grade_table_td">서울특별시 도봉구 도봉로110라길 50</td>
                    </tr>
                    <tr>
                        <th class="grade_table_th" style="width:18%">연락처</th>
                        <td class="grade_table_td">02-901-5700</td>
                    </tr>
                    <tr>
                        <th class="grade_table_th" style="width:18%">모집/선발</th>
                        <td class="grade_table_td"><a href="http://injae.gwd.go.kr/injae/gwdormitory/dobong/enter_db" target="_blank">http://injae.gwd.go.kr/injae/gwdormitory/dobong/enter_db</a></td>
                    </tr>
                </table>

                <!-- 주요시설 -->
                <div class="dormi_box_title">
                    <div style="margin-left:30px"><i class="fa-solid fa-bed"></i>주요시설</div>
                </div>

                <hr>

                <table class="grade_table" style="margin-top:2rem;">
                    <tr th:each="stat:${doBongData}">
                        <th class="grade_table_th" style="width:18%" th:if="${stat.facility0 != null}" th:text="${stat.facility0}"></th>
                        <td class="grade_table_td" th:if="${stat.context0 != null}" th:text="${stat.context0}"></td>
                    </tr>
                </table>

                <!-- 편의시설 -->
                <div class="dormi_box_title">
                    <div style="margin-left:30px"><i class="fa-solid fa-warehouse"></i>편의시설</div>
                </div>

                <hr>

                <table class="grade_table" style="margin-top:2rem;">
                    <tr th:each="stat:${doBongData}">
                        <th class="grade_table_th" style="width:18%" th:if="${stat.facility1 != null}" th:text="${stat.facility1}"></th>
                        <td class="grade_table_td" th:if="${stat.context1 != null}" th:text="${stat.context1}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>