/* ------------------------------nav css------------------------------ */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom : 0.001px solid rgb(216, 216, 216);
    background-color: white;
    padding: 13px;
}


.navbar_logo img {
    position: relative;
    width: 110px;
    height: 52px;
}

.navbar_menu {
    display: flex;
    font-size: 20px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-left: min(50%, 800px);
}

.navbar_menu li {
    font-size: 19px;
    padding: 8px 16px;
    cursor: pointer;
}

.navbar_menu li a:hover {
    font-weight: bold;
    color : rgb(26, 26, 164);
}