<footer class="footer" th:fragment="footerFragment">
    <ul class="footer_list">
        <li>
            - Contact -
        </li>
        <li>
            Email : kimde9612@gmail.com
        </li>
        <li>
            GitHub : <a href='https://github.com/euics/dormitory' style='color:lightgrey'
                        target='_blank'>https://github.com/euics/dormitory</a>
        </li>
    </ul>
    <h2 class="copyright">Copyright
        <i class="far fa-copyright"></i>
        2022 DorMe. All Rights Reserved. <br>
        김부교, 박종훈, 변은성, 이성빈
    </h2>
</footer>