<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DorMe</title>

  <script src="https://kit.fontawesome.com/a99efffa96.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
  <link href="css/MainHome.css" rel="stylesheet" >
  <link href="css/headers.css" rel="stylesheet">
  <link rel="icon" href="images/favicon_img.png">
  
</head>
<body>
<nav th:replace="navbar :: navbarFragment"></nav>

<main>
<div class="bg_wrapper">
<!-- 메인 -->
  <header class="main_bg">
      <!-- 소개 문구 -->
      
      <div class="main_bg_dark">
        
        <div class="main_bg_logo"></div>

          <div class="bg_big_text_slogan">
              어떤 행복기숙사/학사관을 찾으시나요?
          </div>
          <div class="bg_about">
              <section class="section">
                  <div class="about">
                      <div class="about__card">
                          <img class="about__icon" src="/images/about_1_dollar.svg" alt="">
                          <h2 class="about__title _1">
                              가격
                          </h2>
                          <p class="about__text">
                              가격이 착한 곳을 <br>
                              찾으시나요?
                          </p>
                      </div>
                      <div class="about__card">
                          <img class="about__icon" src="/images/about_2_map.svg" alt="">
                          <h2 class="about__title _2">
                              거리
                          </h2>
                          <p class="about__text">
                              학교와 가까운 곳을 <br>
                              찾으시나요?
                          </p>
                      </div>
                      <div class="about__card">
                          <img class="about__icon" src="/images/about_3_facility.svg" alt="">
                          <h2 class="about__title _3">
                              시설
                          </h2>
                          <p class="about__text">
                              다양한 시설이 있는 곳을 <br>
                              찾으시나요?
                          </p>
                      </div>
                  </div>
              </section>
          </div>
          <div class="bg_text_btn">
              <div class="bg_text_btn_lr">
                  <div class="bg_text_btn_left">
                  <div class="bg_small_text fadein_text">
                      서울시 전체 행복기숙사/학사관 검색
                  </div>
                  <div class="bg_btn">

                      <button class="bg_btn_style" onclick="location.href='/login/'">검색하기</button>

                  </div>
              </div>

              <div class="bg_text_btn_right">
                  <div class="bg_small_text fadein_text">
                      내가 갈 수 있는 행복기숙사/학사관 검색
                  </div>
                  <div class="bg_btn">

                      <button class="bg_btn_style" onclick="location.href='/login/'">검색하기</button>

                  </div>
              </div>
          </div>
      </div>
      </div>
  </header>
</div>
</main>


<div th:replace="footer :: footerFragment"></div>
</body>

</html>
