<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAP 전체서비스</title>

  <script src="https://kit.fontawesome.com/a99efffa96.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
  <link href="/css/entireMap.css" rel="stylesheet">
  <link href="/css/MainHome.css" rel="stylesheet" >
  <link href="/css/map.css" rel="stylesheet" >
  <link rel="icon" href="/images/favicon_img.png">
</head>
<body>

<nav th:replace="navbar :: navbarFragment"></nav>


<div id="map" style="width:100%;height:900px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1bad0fbb7d70210144aa465b1c6b8f9f"></script>
<script src="/js/map.js"></script>
</body>
</html>